//VARIABLES:

// SIZE
$xxs: "360px";
$xs: "480px";
$sm: "768px";
$md: "992px";
$lg: "1200px";
$xlg: "1600px";

// COLORS

// colors names
//---------------
$white: #ffffff;
$black: #000000;
$gray: #424242;
$gray-medium: #5D5D5D;
$gray-light: #999999;
$gray-light-2: #F1F1F1;
$red:#C63147;
$green:#32C74F;
$yellow:#C7C146;

$init-value: #A0A0A0;
$net-operation: #424242;
$net-result: #6EA59E;
$final-value: #CE9133;


$thead:#9f9f9f;
$tsubHeader:#BCBCBC;
$tgreen:#6EA59E;
$tline:#C8C9C9;
$button-blue: #00FCFF;


$primary-color: #C63147;

//bg
$bg-white: $white;
$bg-black: $black;
$bg-primary: $primary-color;
$bg-red: $red;
$bg-gray: $gray;
$bg-gray-light: $gray-light;
$bg-gray-medium:$gray-medium;
$bg-main:$gray-light-2;


$textColorPrimary:$primary-color;
$textColorGray:$gray;
$textColorBlack:$black;
$textColorWhite:$white;
$textColorSuccess:$green;
$textColorError:$primary-color;




// FONT FAMILY
// basic
//---------------


$fontRegular: "OpenSansRegular", arial, helvetica, sans-serif;
$fontBold: "OpenSansBold", arial, helvetica, sans-serif;
$fontLight: "OpenSansLight", arial, helvetica, sans-serif;
$fontMedium: "OpenSansMedium", arial, helvetica, sans-serif;
$fontSemiBold: "OpenSansSemiBold", arial, helvetica, sans-serif;


$generalBigPadding: 0 135px;
$generalMediumPadding: 0 50px;
