@import "./general/vars";

ul {
    padding: 0;
}
li {
    list-style: none;
    cursor: pointer;
    position: relative;
}
button {
    border: none;
    cursor: pointer;
}
.white_background {
    background-color: $white !important;
    @media (max-width: $md) {
        background-color: $black !important;
    }
}
.hidden {
    visibility: hidden !important;
}
.display-flex {
    display: flex !important;
}
@media (max-width: $md) {
    main {
        overflow: hidden;
    }
}