doctype
html(lang="es")
    head
        title= 'NATEEVO'
        include head.pug
    body
        block header

        main(role="main")
            block content

        block footer
        
        include scripts.pug