- var logo_header = "/images/HEADER/logo_nateevo.svg"
- var logo_footer = "/images/FOOTER/logo_nateevo@3x.svg"
- var ico_facebook = "/images/FOOTER/facebook@3x.svg"
- var ico_linkedin = "/images/FOOTER/ico_linkedin@3x.svg"
- var ico_youtube = "/images/FOOTER/ico_youtube@3x.svg"
- var ico_instagram = "/images/FOOTER/ico_instragram@3x.svg"
- var arrow_down = "/images/HEADER/opciones_menu/flecha_menu.svg"
- var arrow_left = "/images/SLIDER/flecha_izq/flecha_izq.svg"
- var arrow_right = "/images/SLIDER/flecha_drcha/Flecha_drcha@3x.svg"
- var hamburger_icon = "/images/HEADER/hamburger.svg"
- var slider_image = "/images/SLIDER/img_slider.jpg"
- var background_image = (image) => `background-image: url(${image});background-size: cover;background-position: center;`
- var first_news_image = "/images/NOTICIAS/Noticia_destacada/img/img_noticia_destacada@2x.jpg"
- var second_news_image = "/images/NOTICIAS/Noticia_secundaria/img/img_noticia_2@2x.jpg"
- var second_news_clock_icon = "/images/NOTICIAS/Noticia_secundaria/ico_reloj@3x.svg"
