@import "../../base/scss/general/vars";
@import "../../base/scss/general/mixins";

.slider {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: -98px;
    @media (min-width: $md) {
        overflow: hidden;
    }

    &__container {
        display: flex;
        height: 100%;

        &--item {
            color: $white;
            margin: 359px 0;
            min-width: 100%;
            text-align: center;
            @media (min-width: $md) {
                padding: 0 100px;
            }
            p:first-child {
                @include textFamily(48, $fontBold, 0.38);
                text-shadow: 0 2px 35px 0 rgba(0,0,0,0.5);
            }
            p:nth-child(2) {
                @include textFamily(20, $fontRegular, 0.16);
                text-shadow: 0 2px 35px 0 rgba(0,0,0,0.5);
            }
        }
    }

    &__prev-arrow,
    &__next-arrow {
        @media (max-width: $md) {
            display: none;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 82px;
        box-shadow: 0 2px 10px 0 #F1A05F;
        background-color: $button-blue;
        opacity: .8;
    }

    &__prev-arrow {
        left: 0;
    }

    &__next-arrow {
        right: 0;
    }

    &__pagination {
        display: flex;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: $md) {
            bottom: -30px;
        }
        &--item {
            height: 5px;
            width: 50px;
            background-color: rgba(255,255,255,0.5);
            margin: 0 5px;
            cursor: pointer;
            @media (max-width: $md) {
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
}
