include ../../base/pug/variables.pug

block.slider(style=background_image(slider_image))
    .slider__container
        .slider__container--item
            p El futuro de tu negocio en buenas manos
            p Una compañía del Grupo VASS
        .slider__container--item
            p Página 2
        .slider__container--item
            p Página 3
        .slider__container--item
            p Página 4
        .slider__container--item
            p Página 5
    button.slider__prev-arrow
        img(src=arrow_left alt="Flecha izquierda")
    button.slider__next-arrow
        img(src=arrow_right alt="Flecha derecha")
    .slider__pagination 
        span.slider__pagination--item.white_background
        span.slider__pagination--item
        span.slider__pagination--item
        span.slider__pagination--item
        span.slider__pagination--item