extends ../base/pug/layout.pug

block header
    include ../base/partials/header/header.pug

block content
    include ../components/block-hero/block-hero.pug

block footer
    include ../base/partials/footer/footer.pug