@import "../../scss/general/vars";
@import "../../scss/general/mixins";

header {
    height: 98px;
    position: sticky;
    top: 0;
    z-index: 1;
    @include headerFooterConf;
    @include textFamily(15, $fontBold, 1.5);

    @media (max-width: $md) {
        padding: 0 30px;
    }

    @media (min-width: $md) {
        .logo {
            height: 22px;
        }
    }

    .menu {
        @media (max-width: $md) {
            display: none;
            flex-direction: column;
            background-color: $black;
            position: absolute;
            top: 90px;
            right: 20px;
        }

        @include flexbox(space-between, center);
        margin: auto;
        @media (min-width: $md) and (max-width: $xlg) {
            margin: auto 50px;
            width: 671px;
        }
        @media (min-width: $xlg) {
            width: 671px;
            margin: auto 149px auto 139px;
        }

        img {
            height: 6.48px;
            margin-left: 6px;
        }

        li {
            padding: 20px 10px;
            text-align: center;
        }

        &__options:hover .menu__submenu,
        &__submenu:hover {
            display: block;
        }

        &__submenu {
            background-color: $white;
            box-shadow: 0 0 10px 0 rgba(0, 252, 255, 0.6);
            color: #666666;
            padding: 30px;
            position: absolute;
            top: 60px;
            left: 4px;
            display: none;
            @include textFamily(14, $fontBold, 0);
            @media (max-width: $md) {
                left: -80px;
            }
            li {
                padding: 12px 0;
                width: max-content;
            }

            &--triangle {
                width: 0;
                height: 0;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                border-bottom: 20px solid $white;
                margin: -41px auto 20px;
            }

            &--triangle-shadow {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                border: 0;
                box-shadow: 0 0 10px 0 rgba(0, 252, 255, 0.6);
                transform: rotate(45deg);
                z-index: -1;
                left: 46%;
                top: -6px;
            }
        }
    }

    .languages {
        @media (max-width: $md) {
            display: none;
        }
        @include flexbox(space-between, center);

        &__button {
            height: 36px;
            width: 36px;
            background-color: inherit;
            color: inherit;
        }

        &__selected {
            background-color: $button-blue;
            color: $black;
        }
    }

    .hamburger {
        @media (min-width: $md) {
            display: none;
        }
    }
}