include ../../pug/variables.pug

header
    .logo
        img(src=logo_header alt="Logo Nateevo")
    ul.menu
        li Opción 1
        li Opción 2
        li Opción 3
        li Opción 4
        li.menu__options Opción 5
            img(src=arrow_down alt="Arrow down")
            .menu__submenu 
                .menu__submenu--triangle
                .menu__submenu--triangle-shadow
                ul
                    li Submenú Opción 1
                    li Submenú Opción 2
                    li Submenú Opción 3
    .languages 
        button.languages__button.languages__selected ES
        button.languages__button EN
    .hamburger 
        img(src=hamburger_icon alt="Hamburger menu")
