@import "../../base/scss/general/vars";
@import "../../base/scss/general/mixins";

.news {
    padding: $generalBigPadding;
    @media (min-width: $md) and (max-width: $lg) {
        padding: $generalMediumPadding;
    }
    @media (max-width: $md) {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
    &__intro {
        margin: auto;
        text-align: center;
        @media (min-width: $md) {
            margin-bottom: 69px;
            width: 805px;
        }
        @include textFamily(16, $fontRegular, 0);
        h1 {
            @include textFamily(20, $fontRegular, 0);
            color: $gray-light;
            text-transform: uppercase;
        }
        h2 {
            @include textFamily(44, $fontBold, 0.35);
            color: #333333;
        }
    }
    &__cards {
        @media (min-width: $md) {
            padding: inherit;
            @include flexbox(center, center);
        }
        &--left {
            @media (max-width: $md) {
                padding: 30px;
                margin-bottom: 20px;
            }
            @media (min-width: $md) {
                height: 507px;
                width: 670px;
                margin-right: 30px;
            }
            background-image: url('/images/NOTICIAS/Noticia_destacada/img/img_noticia_destacada@2x.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: $white;
            @include textFamily(14, $fontRegular, 0);
            line-height: 26px;
            position: relative;
            &--text {
                @media (min-width: $md) {
                    margin: 0 60px;
                    position: absolute;
                    bottom: 40px;
                }
                p:first-child {
                    @include textFamily(36, $fontBold, 0);
                    line-height: 49px;
                }
            }
        }
        &--right {
            @media (min-width: $md) {
                height: 507px;
                width: 470px;
            }
            background-color: #F5F5F5;
            img {
                height: auto;
                width: 100%;
                @media (min-width: $md) {
                    height: 230px;
                    width: 470px;
                }
            }
            &--text {
                padding: 30px;
                @include textFamily(14, $fontRegular, 0);
                line-height: 26px;
                img {
                    height: 20px;
                    margin-right: 10px;
                    width: auto;
                }
                p:first-child {
                    @include textFamily(14, $fontSemiBold, 0);
                    color: $gray-light;
                }
                h2 {
                    @include textFamily(22, $fontBold, 0);
                    line-height: 26px;
                }
                button {
                    text-transform: uppercase;
                    font-family: $fontBold;
                    height: 40px;
                    width: 130px;
                    border-radius: 22px;
                    background-color: $button-blue;
                }
            }
        }
    }
}
