block.news 
    .news__intro
        h1 Noticias
        h2 Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium venenatis fermentum. Maecenas vitae condimentum sapien. Nunc auctor ac arcu sed efficitur. 

    .news__cards 
        .news__cards--left
            .news__cards--left--text
                p Así de fácil. Así de sencillo 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie at lectus et blandit. Integer id lacinia nulla nec finibus nisi tristique in ex.
        .news__cards--right
            img(src=second_news_image)
            .news__cards--right--text
                p 
                    img(src=second_news_clock_icon)
                    span 14 Noviembre 
                h2 Creamos experiencias únicas para hacear crecer tu negocio 
                p#text-to-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi molestie at lectus et blandit. Integer id lacinia nulla.
                button#read-more Leer más 