include ../../pug/variables.pug

footer
    .left
        img(src=logo_footer alt="Logo Nateevo")
        span © 2019 Nateevo. Todos los derechos reservados
    .icons
        a(href="https://www.instagram.com/nateevo_digital/?hl=es" target="_blank" rel="noopener noreferrer")
            img(src=ico_instagram alt="Instagram")
        a(href="https://es.linkedin.com/company/nateevo" target="_blank" rel="noopener noreferrer")
            img(src=ico_linkedin alt="Linkedin")
        a(href="https://www.youtube.com/channel/UC3PKNoWDiE4VgU-5yY3aSQg?themeRefresh=1" target="_blank" rel="noopener noreferrer")
            img(src=ico_youtube alt="Youtube")
        a(href="https://www.facebook.com/Nateevo/?locale=es_ES" target="_blank" rel="noopener noreferrer")
            img(src=ico_facebook alt="Facebook")
