@import "../../scss/general/vars";
@import "../../scss/general/mixins";

footer {
    height: 102px;
    margin-top: 135px;
    position: relative;
    @include headerFooterConf;
    @include textFamily(14, $fontBold, 1.4);

    @media (max-width: $md) {
        flex-direction: column;
        height: 300px;
        padding: 40px;
    }

    .left {
        display: flex;
        align-items: center;

        @media (max-width: $md) {
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            text-align: center;
        }

        @media (min-width: $md) {
            img {
                margin-right: 29px;
                padding: 0;
            }
        }
    }

    .icons {
        @media (max-width: $md) {
            position: absolute;
            top: 41%;
        }

        img {
            margin: 0 25px;
        }

        @media (min-width: $md) {
            img:last-child {
                margin-right: 0;
            }
        }
    }
}
